<h1>Member name: <%= @member.first_name %></h1>
<%= link_to 'Home', root_path %>
<aside>
  <span>Contact Box - Static</span>
  <br/>
  <span>Request help btn</span>
  <br/>
  <span>Chat Box - Bottom absolute: Greyed out until accepted project</span>
  <br/>
  <span>Writers will have an "Offer help" button, and editors an "Request help" button</span>
</aside>
